<div class="container-create-project-popup modal-hidden">
  <h1>Create New Project</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :project_name, placeholder: "Name...", class: "new-project-name" %>
    <div class="button-container">
      <%= link_to "Cancel", :back, class: "btn btn-outline-primary new-project-button-left" %>
      <%= f.submit "Create", class: "btn btn-outline-primary new-project-button-right" %>
    </div>
  <% end %>
</div>
