<div class="container">
  <% @lists.each do |list| %>
    <%= link_to(new_list_item_list_path(list)) do %>
      <div class="card">
        <h1><%= list.project_name %></h1>
        <%= link_to("Delete", list_path(list), method: :delete, data: {confirm: "Are you sure you want to delete"}) %>
      </div>
    <% end %>
  <% end %>
</div>
