.lists-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  row-gap: 2%;
  width: 100%;
  padding: 15px;
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
  min-height: calc(100vh - 63px - 71px);
}
