<div class="container text-center mt-3 mb-2">
  <h3><%= @stores.length %> results</h3>
  <% @stores.each do |store| %>
    <div class="cards">
      <div id="store-info">
        <h3>
          <%= store.name %>
        </h3>
        <p>
          <%= store.address %>
        </p>
        <p>
          <%= store.phone_number %>
        </p>
      </div>
      <div id="store-distance">
        <p>
          1.2 km
        </p>
      </div>
    </div>
    <div id="item-availability">
      7/8 items
    </div>
  <% end %>
</div>