<div class="banner">
	<div class="banner-content">
		<h1>Builder Helper</h1>
		<%=	link_to "Log In", '#', class:"btn btn-lg btn-primary"	%>
		<%=	link_to "Sign Up", '#', class:"btn btn-lg btn-primary"	%>
	</div>
</div>	

