<div class="banner">
	<div class="banner-content">
		<%= image_tag "logo-lg.png" %>
		<div>
			<%=	link_to "Login", '#', class:"btn btn-lg btn-light"	%>
			<%=	link_to "Sign Up", '#', class:"btn btn-lg btn-light" %>
		</div>	
	</div>
</div>	

