<div class="sample-project-card-container">
  <% @sample_projects.each do |sample_project| %>
    <div class="project-card" style="background-image: url(<%= sample_project.image %>); background-size: cover;">
      <%= link_to(sample_project_path(sample_project)) do %>
        <div class="project-title"><%= sample_project.title %></div>
      <% end %>
    </div>
  <% end %>
</div>
