<div class="project-card-container">
  <div class="card">
    <% @sample_projects.each do |sample_project| %>
      <%= link_to(sample_project_path(sample_project)) do %>
      <%= cl_image_tag("Watches/Rolex_Datejust_akxpza.jpg") %>
    <% end %>
  </div>
</div>
