.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    margin-bottom: 200px;

    &.modal-hidden {
      z-index: -1;
    }
}

.container-create-project-popup {
  display: flex;
  flex-direction: column;
  background-color: #E7E7E7;
  border-radius: 10px;
  font-family: $headers-font;
  padding-top: 40px;
  width: 80%;

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      label {
        text-align: center;
        width:100%;
        color: #575757;
        font-size: 18px;
        letter-spacing: 0.1em;
      }

      input {
        margin: 8px 10%!important;
        width: 80%!important;
      }

      input::placeholder {
        font-family: $body-font;
        color: silver;
        opacity: 0.5;
      }
    }
  }

  .button-container {
    display: flex;

      .new-project-button-left {
        background-color: #F6E172!important;
        flex: 0 0 50%!important;
        padding-top: 15px;
        height: 62px;
        border-radius: 0 0 0 10px;
        border: 1px solid white;
        color: #575757;
        font-size: 18px;
        letter-spacing: 0.1em;
      }

     .new-project-button-right {
      background-color: #F6E172!important;
      flex: 0 0 50%!important;
      height: 62px;
      border-radius: 0 0 10px 0;
      border: 1px solid white;
      color: #575757;
      font-size: 18px;
      letter-spacing: 0.1em;
    }
  }
}

#plus-icon {
  width: 100px;
  height: 100px;
  font-size: 18px;
}

.modal-hidden {
    opacity: 0;
  }
