.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#e66465, #9198e5);
  opacity: 0.8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  margin-top: 5px;
}

.navbar-avatar-img {
  border-radius: 100%;
  height: 30px;
  width: 30px;
}


